//
// Styles for individual pages
// --------------------------------------------------
#page-header {
  padding: 0 15px;
}
.main {
  padding:20px 0;
}
.front .main {
  padding: 0;
}
.page-admin .main {
  padding: 20px 15px;
}
.page-groups {
  article.node-teaser {
    min-height: 365px;
    margin-bottom: 20px;
    .field-name-field-image img {
      border:1px solid $shade;
    }
    h2.node-title {
      font-size: 1.25em;
      margin: .75em 0;
    }
    .view-og-count {
      margin:8px 0;
    }
  }
}

#footer {
  margin:20px 0 0 0 ;
}
.footer {
  padding:40px 0;
  margin: 0;
  background-color: $brand-primary;
  color: white;
  border-top: solid;
  border-width: 5px;
  border-color: $brand-redish;
  a {
    color: white;
    :hover {
      color: white;
    }
  }
  .copyright {
    margin-top: 10px;
    a:hover {
      color: white;
    }
  }
}

// Projects view.
.view-Projects {
  ul {
    list-style-type: none;
    li {
      overflow: hidden;
      margin-bottom: 15px;
      h3.title {
        margin-top: 0;
      }
      img {
        float: left;
        margin-right: 5px;
      }
    }
  }
}

.pane-projects-front-slideshow,
.pane-blog {
  h2 {
    font-weight: normal;
    font-size: 30px;
  }
}

// Slideshow of Projects on home.
.views_slideshow_cycle_teaser_section {
  .views-slideshow-cycle-main-frame-row-item {
    float: left;
    width: 24%;
    text-align: center;
  }
}

.front-block-site-description {
  font-size: 19px;
}

// Blog
.node-type-blog-post.not-logged-in .tabs--primary,
.node-type-project.not-logged-in .tabs--primary,
.node-type-page.not-logged-in .tabs--primary,
.node-type-dataset.not-logged-in .tabs--primary,
.node-type-blog-post.not-logged-in .submitted {
  display: none;
}

.view-display-id-blog_page {
  ul {
    list-style-type: none;
  }
}

.view-display-id-block_recent_blogs {
  h2 {
    margin-top: 0!important;
    a {
      color: $brand-redish;
    }
  }
  img {
    float: left;
    margin-right: 5px;
  }
  ul li.entry {
    overflow: hidden;
  }
}
