#block-block-1 {
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  background-color: rgba(10, 119, 189, 0.5);
  padding-top: 15px;
}

#block-block-1 .media-overlay .media-heading {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  color: #FFFFFF;
  font-size: 13px;
  left: 0;
  line-height: 18px;
  margin: 0 15px;
  padding: 12px 10px;
  position: absolute;
  right: 0;
  z-index: 1;
}
