#block-block-1 {
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  background-color: rgba(10, 119, 189, 0.5);
  padding-top: 15px;
}

#block-block-1 .media-overlay .media-heading {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  color: #FFFFFF;
  font-size: 13px;
  left: 0;
  line-height: 18px;
  margin: 0 15px;
  padding: 12px 10px;
  position: absolute;
  right: 0;
  z-index: 1;
}

/* Recent datasets block on the front page */
.block-recent-datasets .view-footer {
  text-align: right;
}

.block-recent-datasets .views-row {
  margin: 1em 0;
}

/*Search block in header and in home page block*/
form#dkan-sitewide-dataset-search-form--2 .btn,
form#dkan-sitewide-dataset-search-form .btn {
  display: none;
}

/*Article nodes*/
article.node-page h2 {
  margin-bottom: 1.2em;
  margin-top: 1.3em;
}

/*Footer menu*/
#block-menu-menu-footer-menu h2.block-title {
  display: none;
}

#block-menu-menu-footer-menu li {
  float: left;
}

/*Signup form*/
#node-63 input[type=email] {
  background: #f5f5f5;
  font-size: 0.8rem;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  padding: 13px 10px;
  width: 330px;
  margin-bottom: 20px;
  box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
  clear: both;
}

#node-63 input[type=email]:focus {
  background: #fff;
  box-shadow: 0px 0px 0px 3px #0A77BD, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
  outline: none;
}

#node-63 input#mc-embedded-subscribe {
  width: 332px;
  padding: 15px 0;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
      background: -moz-linear-gradient(
      top,
      #0A77BD 0%,
      #a4b0cb);
  background: -webkit-gradient(
      linear, left top, left bottom,
      from(#0A77BD),
      to(#a4b0cb));
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #737b8d;
  -moz-box-shadow:
      0px 5px 5px rgba(000,000,000,0.1),
      inset 0px 1px 0px rgba(255,255,255,0.5);
  -webkit-box-shadow:
      0px 5px 5px rgba(000,000,000,0.1),
      inset 0px 1px 0px rgba(255,255,255,0.5);
  box-shadow:
      0px 5px 5px rgba(000,000,000,0.1),
      inset 0px 1px 0px rgba(255,255,255,0.5);
  text-shadow:
      0px 1px 3px rgba(000,000,000,0.3),
      0px 0px 0px rgba(255,255,255,0);
  display: table;
  position: static;
  clear: both;
}

#node-63 input#mc-embedded-subscribe {
    background: -moz-linear-gradient(
        top,
        #0A77BD 0%,
        #b9c5dd);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#0A77BD),
        to(#b9c5dd));
}

/*Dataset node*/
.node-dataset .field-name-field-geo {
  margin: 0;
  list-style: none;
  padding: 10px;
  min-height: 26px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: whiteSmoke;
  border: 1px solid #EEE;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.node-dataset .field-name-field-geo .field-label {
  float: left;
}

/*Projects*/
.view-projects img {
  float: left;
}

.view-projects li {
  margin-bottom: 150px;
}
